.button {
  display: inline-block;
  padding: 20px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #8bb48b;
  border: solid 2px #111;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-family: poppins, sans-serif;


  &:hover {
    background-color: #628562;
  }

  &:active {
    background-color: #406040;
  }

  &-icon {
    margin-inline-start: 0.5rem;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}