.footer {
  position: relative;
  border-top: 1px solid black; /* Optional, for a top border */
  color: black;
  padding: 2rem;
  font-family: poppins, sans-serif; /* Align with main content font */
}

.footer__email-icon {
  margin-right: 0.5rem;
}

