@keyframes fade {
  0% {
    opacity: 0; /* Initially invisible */
  }
  100% {
    opacity: 1; /* Fully visible */
  }
}

.hero {
  display: flex;
  justify-content: center;
  position: relative; /* Make the .hero container the reference for absolute positioning */
  padding: 2rem;
}

.hero__image {
  background-image: url('../img/hero-image.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80rem;
  position: relative;
  padding-top: 56.25%; /* Maintain aspect ratio (16:9) of the image */
  background-position: center;
}

.hero__logo {
  position: absolute; /* Position relative to the .hero__image container */
  top: 50%; /* Vertically center it within the container */
  left: 50%; /* Horizontally center it within the container */
  transform: translate(-50%, -50%); /* Offset by half of its width and height for perfect centering */
  max-width: 100%; /* Ensure logo scales down with container */
  width: 60vw; /* Set width as a percentage of the viewport width (responsive) */
  height: auto; /* Maintain aspect ratio of the logo */
  z-index: 1; /* Ensure the logo appears above the image */
  animation: fade 2s ease-in-out; /* Trigger the growing effect */

}

/* 
  @media (max-width: 768px) {
    padding: 10px;
  }

  @media (max-width: 480px) {
    padding: 5px;
  } */
